# Ignore object files
*.o

# Ignore writer directory
writer/
finder/

# Ignore test runner files
Test_*_Runner.c
actions-runner/

# Ignore build directory
build/

# Ignore crosstool-ng directory
crosstool-ng/

# Ignore aesd-build directory
aesd-build/

# Ignore .vscode directory
.vscode/
.cache/

# Ignore test.sh.log file
test.sh.log*.o

test.sh.log

arm-gnu-toolchain-13.3.rel1-x86_64-aarch64-none-linux-gnu/

assignments/assignment2/cross-compile.txt
